* {
  margin: 0;
  padding: 0;
}

html {
  background-color: silver;
}

body {
  margin: 1em auto;
  background-color: rgb(40,40,40);
  color: white;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid white;
  min-width: 600px;
  max-width: 800px;
}

main {
  display: flex;
}

#scene, #controls {
  min-width: 360px;
  min-height: 360px;
  display: inline-block;
  background-color: rgb(20,20,20);
  border-radius: 1em;
  padding: 11px;
  border: 1px solid;
  flex: 1 1 auto;
}

footer, header {
  clear: both;
  padding: 1em;
  text-align: center;
}

canvas {
  margin: auto;
}

#mainProg, #pallete {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

li {
  min-height: 1.1em;
  padding: 0.5em;
  line-height: 1.1em;
  margin: 0;
  border: 1px solid darkgrey;
  border-radius: 0.5em;
  background-color: rgb(20,20,20);
  color: white;
  font-family: monospace;
  font-weight: bold;
  transition-property: border-color, box-shadow, background-color;
  transition-duration: 0.25s;
}

.over {
  border: 2px inset darkgrey;
}

#play, #pause, #stop {
  padding: 0.5em;
  text-align: center;
  border-radius: 0.5em;
}
h1{
  margin-top: 1em;
}

footer a,footer a:visited,footer a:active {
  text-decoration: none;
  font-family: monospace;
  color: white;
}
#mainProg li{
  margin-left: 2em;
}

#mainProg li:first-child,#mainProg li:last-child{
  margin-left: 0;
}

.active{
  border: 1px solid green;
  box-shadow: 0px 0px 15px green;
  background-color: rgb(00,20,00);
}
